<div class="jumbotron text-center">
    <h1 class="display-3">All Users</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="list-group text-center">
                {{#each users}}
                        <li class="list-group-item" ><a
                                href="/user/{{_id}}">
                                {{username}}</a>
                        </li>
                {{/each}}
            </div>
        </div>
    </div>
</div>