nav,
h1 {
  font-family: 'Righteous', cursive;
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  color: #3a3335;
  background-color: #fffcf9;
}

a#delete {
  cursor: pointer;
}

a#edit {
  text-decoration: none;
  color: #3a3335;
}

/* .jumbotron {
  background-color: #c8553d;
} */

a#tasks {
  color: #3a3335;
  text-decoration: none;
}

a#projectCards {
  color: #3a3335;
  text-decoration: none;
}

.carousel-caption {
  position: absolute;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%;
}

.absolute-div {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-caption h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.carousel-item {
  position: relative;
}
