nav,
h1 {
  font-family: 'Righteous', cursive;
}

nav.navbar {
  background-color: #424b54;
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  color: #3a3335;
  background-color: #e9ecef;
}

a#delete {
  cursor: pointer;
}

a#edit {
  text-decoration: none;
  color: #3a3335;
}

.btn-primary {
  background-color: #2292a4;
  border-color: #2292a4;
}

a#tasks {
  color: #3a3335;
  text-decoration: none;
}

a#projectCards {
  color: #3a3335;
  text-decoration: none;
}

li.list-group-item a {
  color: #00120b;
}

.carousel-caption {
  position: absolute;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%;
}

.absolute-div {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-caption h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.carousel-item {
  position: relative;
  height: 640px;
}

.carousel.slide {
  height: 90%;
}
