<div class="container text-center">
    <h1 class="display-6">Projects available for collaboration</h1>
</div>
<div class="container">
    <hr>
    <div class="row">
        {{#each projects}}
            <div class="col-sm-4 ml-auto mb-3">
                <a 
                    href="/user/{{userId}}/projects/{{_id}}"
                    id="projectCards"
                >
                    <div class="card mr-4">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{shortDesc}}</p>
                    </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>