<a href="/users/all">Back to all users</a>
{{#each}}
    <h2>{{tasks.name}}</h2>

    <p>{{tasks.description}}</p>

    <a href="/tasks/{{tasks._id}}/edit">Edit Task</a>

    <form action="/tasks/{{tasks._id}}?_method=DELETE" method="post">
        <input type="submit" value="Delete Task">
    </form>
{{/each}}