<a href="/user/all">Back to all users</a>

    <h2>{{task.name}}</h2>

    <p>{{task.description}}</p>

    <a href="{{task._id}}/edit">Edit Task</a>

    <form action="{{task._id}}?_method=DELETE" method="post">
        <input type="submit" value="Delete Task">
    </form>
