{{!-- <div class="container text-center">
    <h4>Add your project!</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <form class="justify-content-center" method="POST" action="new">
                <div class="form-group">
                    <label>Project Name</label>
                    <input 
                        class="form-control"
                        type="text" 
                        name="name" 
                        placeholder="Project Name"
                        value="wow"
                    >
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input 
                        class="form-control"
                        type="text" 
                        name="description" 
                        placeholder="description"
                        value="wow"
                        >
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div> --}}
<form action="/user/{{user._id}}/projects" method="POST">
    <input type="text" name="name">
    <input type="text" name="description">
    <button type="submit">Submit</button>
</form>